.products-slider.swiper {
    height: 600px;
}

.products-slider .swiper-horizontal > .swiper-pagination-bullets,
.products-slider .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 20%;
}

.products-slider .swiper-pagination-bullet {
    width: 21px;
    height: 21px;
    margin: 0 10px !important;
    opacity: 1;
    @apply bg-slate-300;
}

.products-slider .swiper-pagination-bullet-active {
    background-color: #7ed9d0;
}
